/* Elan */

#annotations {
    max-height: 300px;
    overflow: auto;
    display: block;
}

.wavesurfer-annotations tr.wavesurfer-active td {
    background-color: yellow;
}

.wavesurfer-time {
    width: 100px;
    color: #555;
}

.wavesurfer-tier-Text {
    width: 500px;
}

td.wavesurfer-tier-Comments {
    color: #999;
}

.wavesurfer-handle {
    background-color: #c9e2b3;
}

.diagram {
    width: 600px;
    height: 550px;
    position: relative;
    margin-left: 100px;
    border: 1px solid #555;
    padding-left: 100px;
    overflow-x: auto;
}





