/* Elan */

#annotations {
    border: 2px solid gray;
    margin-left: 10px;
    margin-top: 10px;
    max-width: 500px;
    max-height: 300px;
    overflow: scroll;
}


.wavesurfer-annotations tr.wavesurfer-active td {
    background-color: green;
}

.wavesurfer-time {
    width: 100px;
    color: #555;
    display: none;
}

.wavesurfer-tier-Text {
    width: 500px;
    color: black;
}

th.wavesurfer-tier-Comments {
    display: none;
}

td.wavesurfer-tier-Comments {
    color: #999;
    display: none;
}

.wavesurfer-handle {
    background-color: #c9e2b3;
}




/**** network ***/

.networkdiagram {
  margin-left: 20px;
  padding-top: 10px;
}



/**** pitch ****/

.diagram {
    width: 550px;
    height: 550px;
    position: relative;
    margin-left: 300px;
    border: 1px solid #555;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 10px;
    background-color: #f7f7f7;
}


path.line{
    stroke: black;
    stroke-width: 1px;
    fill: none;
    display: none;
  }
  
  circle.pitchpoint{
    stroke: blue;
    stroke-width: 1px;
    fill: blue;
  }

.waveBox {
    height: 400px !important;
    background-color: lightcyan;

}

wave > canvas {
    border: 1px solid #555;
}

.pitchD3 {
    margin-top: 100px;
    margin-bottom: 10px;
}

.y-axis {
    overflow: visible !important;
    margin-left: -5px;
}

.y-label {
    overflow: visible !important;
}


















